<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 px-10 md:px-16">
{% for post in posts %}
{{ include('posts/_card.html.twig', {
    'post': post,
    'likesRepository': likesRepository
}) }}
{% endfor %}
</section>

