<section class="relative flex flex-col justify-center items-center text-center w-full h-screen overflow-hidden">
<video class="absolute top-0 left-0 w-full h-full object-cover max-w-full" src="{{ asset('videos/gradient.webm') }}" autoplay muted loop playsinline></video>

  <div class="relative z-10 flex flex-col items-center justify-center w-full h-full">
    <h1 class="flex flex-col text-5xl md:text-9xl font-bold">
      <span>Personalize</span>
      <span>Your desktop</span>
      <span>Your throne</span>
    </h1>

    <a href="{{ path('app_explorer') }}" class="mt-10 bg-black text-white p-4 px-6 rounded-full font-semibold hover:bg-gray-200 hover:text-black transition-colors">
      Explorer
    </a>
  </div>
</section>
