{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
<main class="flex flex-col w-full">
    {{ include ('home/_hero.html.twig') }}
</main>

{% endblock %}
