{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <h1>Wellcome to blendsk server</h1>
    <p>Test deployment</p>
</section>
{% endblock %}
