{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}
<main class="flex w-full h-screen justify-center items-center">
    <h1>Comming soon...</h1>
</main>

{% endblock %}
