/node_modules
/vendor
.git
.gitignore
.idea
.vscode
*.log
*.md
storage/*.key
docker-compose.yml
compose.yaml
dockerfile
.dockerignore
tests
phpunit.xml
README.md
npm-debug.log
yarn-debug.log
yarn-error.log
