<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Blendsk{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col">
        {% block navbar %}
            {% if app.request.get('_route') not in ['app_login', 'app_register'] %}
                {% include 'navbar.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% if app.request.get('_route') not in ['app_login', 'app_register'] %}
                {% include 'footer.html.twig' %}
            {% endif %}
        {% endblock %}
    </body>
</html>
