<div class="flex group flex-row-reverse items-center p-2 backdrop-blur-xl bg-black/50 rounded-full" id="post-{{ post.id }}">
    <button id="btn-favorite-{{ post.id }}"
            data-post-id="{{ post.id }}"
            class="favorite-button {{app.user and favoritesRepository.hasUserFavoritedPost(post, app.user) ? 'text-amber-100' : 'text-neutral-300' }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 384 512" fill="currentColor">
                <path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/>
            </svg>
    </button>
    <span class="hidden group-hover:block px-5">Favorite
    </span>
</div>
